html {
  box-sizing: border-box;
  height: 100%;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

body {
  height: inherit;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px 15px;
}


p {
  font-size: 30px;
}
